* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;   
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


::-webkit-scrollbar { 
    display: none;
}


p {
    font-size: 32px;
}

/*Nav buttons*/
.arrow-buttons {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 65vh;
    z-index: 999;
    width: 100%;
    height: 1rem;
    max-width: 2rem;
}

#right-button { 
    transform: rotate(90deg);
    margin-left: 90vw;
}

#left-button {
    transform: rotate(-90deg);
    margin-left: 4vw;
}

#down-button {
    transform: rotate(180deg);
    margin-left: 50vw;
    margin-top: 95vh !important;
}

#up-button {
    margin-top: 51.5vh !important;
    margin-left: 50vw;
}

.container {
    display: grid;
    grid-template-columns: 100% 100% 100% 100%; /*define the number of columns - keep adding values to increase column count*/
    scroll-snap-type: both mandatory;
    overflow: scroll;
    height: auto;
}

    .container div {
        scroll-snap-align: start;
        height: auto;
        display: flex;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }


